:root {
  background-color: #f6f8fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideGlow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 0px #e6e6e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
